<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body>
    <div>
      <h2>mta</h2>
      <mip-stats-mta setconfig='{"mta_url":"//pingjs.qq.com/h5/stats.js?v2.0.4","name":"MTAH5","sid":"","cid":""}'></mip-stats-mta>
      <button data-stats-mta='{"type":"click","data":["test666666", {"pramaid":"2asjue1323"}]}'>click me!</button>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-stats-mta/mip-stats-mta.js"></script>
  </body>
</html>
