<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>toast 组件</title>
  <link rel="canonical" href="对应的原页面地址">
  <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
  <style mip-custom>
    /* 自定义样式 */
    button {
      display: block;
      margin: 20px auto;
      width: 120px;
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      background: blue;
      color: #fff;
    }
    mip-vote {
      display: block;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div>
    <mip-vote
      id="demo"
      icon="./imgs/like.png"
      text="点赞"
      src="./data.json"
    >
      <div class="mip-vote-wrapper">
        <template type="mip-mustache">
          <div class=".mip-vote-button">
            <mip-img src="{{ icon }}" width="20" height="20" layout="fixed" />
            <p>{{ text }}</p>
          </div>
        </template>
      </div>
    </mip-vote>
  </div>
  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
  <script src="/mip-vote/mip-vote.js"></script>
</body>
</html>
