mip-modal {
  display: none;
}

.mip-modal-dialog {
  &-container {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &-container-hidden {
    display: none;
  }

  &-mask {
    background: rgba(0, 0, 0, 0.65);
  }

  position: relative;
  top: 100px;
  width: 520px;
  margin: 0 auto;

  @media (max-width: 767px) {
    max-width: calc(100vw - 16px);
  }

  &-content {
    position: relative;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background: #fff;
  }

  &-header {
    padding: 16px 24px;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 4px 4px 0 0;
    color: rgba(0, 0, 0, 0.85);
  }

  &-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    word-wrap: break-word;
  }

  &-body {
    padding: 24px;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
  }

  &-footer {
    padding: 10px 16px;
    border-top: 1px solid #e8e8e8;
    border-radius: 0 0 4px 4px;
  }

  &-button {
    appearance: button;
    height: 32px;
    padding: 0 15px;
    border: 1px solid #d9d9d9;
    outline: 0;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    background-image: none;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
  }

  &-button-text {
    pointer-events: none;
  }
}
