<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
      body {
        background: #ccc
      }
      /* 自定义样式 */
      mip-fx-flying-carpet {
        width: 300px;
        margin: auto;
        background: #fff;
      }
    </style>
  </head>
  <body>
    <div>
      <div style="height: 800px;"></div>
      <mip-fx-flying-carpet height="200">
        <mip-img src="https://www.mipengine.org/static/img/sample_01.jpg" height="500"></mip-img>
      </mip-fx-flying-carpet>
      <div style="height: 800px;"></div>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-fx-flying-carpet/mip-fx-flying-carpet.js"></script>
  </body>
</html>
