<!DOCTYPE html>
<html mip>
<head>
<meta charset="utf-8" />
<meta name="applicable-device" content="mobile" />
<link rel="dns-prefetch" href="***" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<meta name="applicable-device" content="mobile" />
<title>***</title>
<link type="text/css" rel="stylesheet" href="https://c.mipcdn.com/static/v1/mip.css">
</head>
<body>

<div class="basebox">
	<div class="img_item Qimgs">
	  <mip-img-rang call="height" rang="160">
		<ul>
		
		<li><mip-img src="http://img.tehuisell.com/img2019/6/16/16/2019061616192039016.jpg"  popup></mip-img></li>
      <li><mip-img src="http://img.tehuisell.com/img2019/6/16/16/2019061616192063120.jpg"  popup></mip-img></li>
      <li><mip-img src="http://img.tehuisell.com/img2019/6/16/16/2019061616192081863.jpg"  popup></mip-img></li>
		
		</ul>
	  </mip-img-rang>	
	</div>
	
</div>	

<script src="https://c.mipcdn.com/static/v1/mip.js"></script>
<script src="/mip-img-rang/mip-img-rang.js"></script>
<script src="https://c.mipcdn.com/extensions/platform/v1/mip-cambrian/mip-cambrian.js"></script>
</body>
</html>
