<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    .continer {
      margin-top: 10px;
      border: 1px solid red;
      padding: 10px;
    }
    .title{
      font-size: 14px;
    }
    .content {
      border: 1px solid #ccc;
      padding: 10px;
      margin-top: 5px;
    }
    </style>
  </head>
  <body>
      <div class='continer'>
        code
        <br />
        &lt;mip-env scope={"ua":"baidubrowser"} &gt;
        <br />
        &lt;/mip-env&gt;
        <br />
        <br />
        result:
        <div class='content'>
          <mip-env scope={"ua":"baidubrowser"} targetId="test">

                success

          </mip-env>
        </div>
      </div>

      <div class='continer'>
        code
        <br />
        &lt;mip-env scope={"ua":"wechat"} &gt;
        <br />
        &lt;/mip-env&gt;
        <br />
        <br />
        result:
        <div class='content'>
          <mip-env scope={"ua":"wechat"} targetId="test">

                success

          </mip-env>
        </div>
      </div>

      <div class='continer'>
        code：
        <br />
        &lt;mip-env scope={"cache":"baidu","dp":"baidu,sm","ua":"uc,qq","os":"!ios"} &gt;
        <br />
        &lt;div&gt;success&lt;/div&gt;
        <br />
        &lt;/mip-env&gt;
        <br />
        <br />
        result:
        <div class='content'>
            <mip-env scope={"cache":"baidu","dp":"baidu,sm","ua":"uc,qq","os":"!ios"} >
              <div>success</div>
            </mip-env>
        </div>
      </div>

      <div class='continer'>
        code
        <br />
        &lt;mip-env scope={"os":"ios,android"} &gt;
        <br />
        &lt;div&gt;success&lt;/div&gt;
        <br />
        &lt;/mip-env&gt;
        <br />
        <br />
        result:
        <div class='content'>
          <mip-env scope={"os":"ios,android"} >
            <div>success</div>
          </mip-env>
        </div>
      </div>

      <div class='continer'>
        code
        <br />
        &lt;mip-env scope={"ua":"!baidu"} &gt;
        <br />
        &lt;mip-fixed&gt;success&lt;/mip-fixed&gt;
        <br />
        &lt;/mip-env&gt;
        <br />
        <br />
        result:
        <div class='content'>
          <mip-env scope={"ua":"!baidu"} targetId="test">
            <mip-fixed type="bottom" id="test">
                success
            </mip-fixed>
          </mip-env>
        </div>
      </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-env/mip-env.js"></script>
  </body>
</html>
