<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>mip-fx-collection</title>
    <style mip-custom>
    </style>
  </head>
  <body>
    <ul>
      <li><a href="./parallax.html">parallax</a></li>
      <li><a href="./fly-in-bottom.html">fly-in-bottom</a></li>
      <li><a href="./fly-in-top.html">fly-in-top</a></li>
      <li><a href="./fly-in-left.html">fly-in-left</a></li>
      <li><a href="./fly-in-right.html">fly-in-right</a></li>
      <li><a href="./fade-in.html">fade-in</a></li>
      <li><a href="./fade-in-scroll.html">fade-in-scroll</a></li>
      <li><a href="./fly-in-left_fade-in-scroll.html">fly-in-left & fade-in-scroll</a></li>
    </ul>
  </body>
</html>
