<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link rel="canonical" href="">
  <title>mip-date-display</title>
  <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
  <style mip-custom>
    /* 自定义样式 */
    table th {
      text-align: left;
    }
  </style>
</head>

<body>
  <p>date-pick 基本用法</p>
  <mip-date-picker mode="date-picker"></mip-date-picker>
  <!-- <mip-date-picker mode="date-picker" min-date="2019-08-02" max-date="2019-08-26"></mip-date-picker> -->

  <p>range-pick 基本用法</p>
  <!-- <mip-date-picker mode="range-picker" on="select:test.select"></mip-date-picker> -->

  <mip-date-picker id="test" mode="range-picker"></mip-date-picker>

  aaaaa

  <!-- range-pick -->
  <!-- <mip-date-picker mode="range-picker" min-date="2019-08-02" max-date="2019-08-26">
  
  </mip-date-picker> -->

  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
  <script src="https://c.mipcdn.com/static/v2//mip-form/mip-form.js"></script>
  <script src="/mip-date-picker/mip-date-picker.js"></script>
</body>

</html>