<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
      h4{
        margin: 5px 10px;
        background: #90ed90;
      }
      p{
        margin: 0 10px;
      }
    /* 自定义样式 */
    </style>
  </head>
  <body>
  <mip-accordion sessions-key="mip_1" animatetime='0.24'>
    <section>
      <h4>下拉第一个</h4>
      <p class="mip-accordion-content">我说你是人间的四月天；笑声点亮了四面风；轻灵在春的光艳中交舞着变。你是四月早天里的云烟，黄昏吹着风的软，星子在无意中闪，</p>
    </section>
    <section  expanded="open">
      <h4>下拉第二个</h4>
      <p>细雨点洒在花前。那轻，那娉婷，你是，鲜妍百花的冠冕你戴着，你是天真，庄严，你是夜夜的月圆。</p>
    </section>
    <section>
      <h4>下拉第三个</h4>
      <mip-img layout="responsive" width="400" height="200" src="https://www.mipengine.org/static/img/sample_01.jpg" class="mip-accordion-content"></mip-img>
    </section>
  </mip-accordion>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-accordion/mip-accordion.js"></script>
  </body>
</html>
