<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    h2{
      margin: 5px 10px;
      background: #90ed90;
    }
    h3,h4{
      margin: 5px 0;
      background: #90ed90;
    }
    p,div{
      margin: 0 10px;
    }
    </style>
  </head>
  <body>
  <mip-accordion sessions-key="mip_5">
    <section>
      <h2>下拉第一个</h2>
      <div>我说你是人间的四月天；笑声点亮了四面风；轻灵在春的光艳中交舞着变。你是四月早天里的云烟，黄昏吹着风的软，星子在无意中闪，
        <section>
          <h3>点击第一处进行下拉</h3>
          <div>雪化后那片鹅黄，你像；新鲜初放芽的绿，你是；柔嫩喜悦,水光浮动着你梦期待中的白莲。
            <section>
              <h4>再次点击进行下拉</h4>
              <div>你是一树一树的花开，是燕在梁间呢喃，——你是爱，是暖，是希望，你是人间的四月天！</div>
            </section>
          </div>
        </section>
        <section>
          <h3>点击第二处进行下拉</h3>
          <div>雪化后那片鹅黄，你像；新鲜初放芽的绿，你是；柔嫩喜悦,水光浮动着你梦期待中的白莲。</div>
        </section>
        <section>
          <h3>点击第三处进行下拉</h3>
          <div>雪化后那片鹅黄，你像；新鲜初放芽的绿，你是；柔嫩喜悦,水光浮动着你梦期待中的白莲。</div>
        </section>
      </div>
    </section>
    <section>
      <h2>下拉第二个</h2>
      <div>细雨点洒在花前。那轻，那娉婷，你是，鲜妍百花的冠冕你戴着，你是天真，庄严，你是夜夜的月圆。</div>
    </section>
    <section>
      <h2>下拉第三个</h2>
      <mip-img layout="responsive" width="400" height="200" src="https://www.mipengine.org/static/img/sample_01.jpg"></mip-img>
    </section>
  </mip-accordion>

  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-accordion/mip-accordion.js"></script>
  </body>
</html>
