<!DOCTYPE html>
<html mip>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>点透问题</title>
  <link rel="canonical" href="对应的原页面地址">
  <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
  <style mip-custom>
    /* 自定义样式 */
  </style>
</head>

<body>
  <h2>点透-做了处理后不会跳转百度</h2>
  <mip-showmore bottomshadow='1' maxheight='100' id="showmore">
    <a href="https://baidu.com">
      MIP HTML 基于HTML中的基础标签制定了全新的规范，通过对一部分基础标签的使用限制或功能扩展，使HTML能够展现更加丰富的内容；MIP JS 可以保证 MIP HTML 页面的快速渲染；MIP Cache 用于实现MIP页面的高速缓存，从而进一步提高页面性能。MIP
      HTML 基于HTML中的基础标签制定了全新的规范，通过对一部分基础标签的使用限制或功能扩展，使HTML能够展现更加丰富的内容；MIP JS 可以保证 MIP HTML 页面的快速渲染；MIP Cache 用于实现MIP页面的高速缓存，从而进一步提高页面性能。</a>
  </mip-showmore>
  <div on="click:showmore.toggle" data-closetext="收起内层内容" class="mip-showmore-btn">
  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
  <script src="/mip-showmore/mip-showmore.js"></script>
</body>

</html>