<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body>
    <div>
      <mip-history history="go, -1" class="mip-history-default">
        go, -1
      </mip-history>
      <mip-history history="go, -2" class="mip-history-default">
          go, -2
      </mip-history>
      <mip-history history="go, 1" class="mip-history-default">
          go, 1
      </mip-history>
      <mip-history history="go" class="mip-history-default">
          go
      </mip-history>
      <mip-history history="back" class="mip-history-default">
          back
      </mip-history>
      <mip-history history="forward" class="mip-history-default">
          forward
      </mip-history>
    </div>
    <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/mip.js"></script>
    <script src="/mip-history/mip-history.js"></script>
  </body>
</html>