<!DOCTYPE html>
<html mip>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>MIP page</title>
  <link rel="canonical" href="对应的原页面地址">
  <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
  <style mip-custom></style>
</head>

<body>
  <div class="mip-history-example">
    <p style="text-align:left;font-size:18px;margin:20px;color: green">基本使用</p>
    <mip-history history="go, -1" class="mip-history-default">
      使用 go, -1 后退到前一个网址
    </mip-history>
    <mip-history history="go, -2" class="mip-history-default">
      使用 go, -2 后退到前两个网址
    </mip-history>
    <mip-history history="go, 1" class="mip-history-default">
      使用 go, 1 前进到下一个网址
    </mip-history>
    <mip-history history="back" class="mip-history-default">
      使用 back 后退到前一个网址
    </mip-history>
    <mip-history history="forward" class="mip-history-default">
      使用 forward 前进到下一个网址
    </mip-history>
  </div>
  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
  <script src="/mip-history/mip-history.js"></script>
</body>

</html>
