<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body>
    <mip-fullpage-scroll>
    <div id="pagebox">
      <div class="section">1</div>
      <div class="section">2</div>
      <div class="section">3</div>
      <div class="section">4</div>
      <div class="section">5</div>
      <div class="section">6</div>
    </div>
    </mip-fullpage-scroll>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-fullpage-scroll/mip-fullpage-scroll.js"></script>
  </body>
</html>
