<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>可视化图表实例</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    h2 {
      margin: 40px 0 20px 0;
    }
    button {
      display: block;
      margin: 30px auto;
      height: 50px;
      width: 100px;
      background: blue;
      color: #fff;
      text-align: center;
      outline: none;
    }
    mip-viz-echarts {
      background: #fff;
    }
    .mip-fill-content {
      overflow: scroll
    }
    </style>
  </head>
  <body>
    <h1>Echarts 可视化</h1>

    <h2>1、响应式大小、从远程获取图表数据</h2>
    <mip-viz-echarts id="charts-1" width="400" height="200" layout="responsive" src="./chart-data.json">
    </mip-viz-echarts>

    <h2>2、响应式布局，从本地的 script JSON 中获取数据</h2>
    <mip-viz-echarts id="charts-2" width="400" height="400" layout="responsive">
      <script type="application/json">
        {
          "data": {
            "tooltip": {
              "trigger": "axis",
              "axisPointer": {
                "type": "shadow"
              }
            },
            "legend": {
              "data": [
                "直接访问",
                "邮件营销",
                "联盟广告",
                "视频广告",
                "搜索引擎",
                "百度",
                "谷歌",
                "必应",
                "其他"
              ]
            },
            "grid": {
              "left": "3%",
              "right": "4%",
              "bottom": "3%",
              "containLabel": true
            },
            "xAxis": [
              {
                "type": "category",
                "data": [
                  "周一",
                  "周二",
                  "周三",
                  "周四",
                  "周五",
                  "周六",
                  "周日"
                ]
              }
            ],
            "yAxis": [
              {
                "type": "value"
              }
            ],
            "series": [
              {
                "name": "直接访问",
                "type": "bar",
                "data": [
                  320,
                  332,
                  301,
                  334,
                  390,
                  330,
                  320
                ]
              },
              {
                "name": "邮件营销",
                "type": "bar",
                "stack": "广告",
                "data": [
                  120,
                  132,
                  101,
                  134,
                  90,
                  230,
                  210
                ]
              },
              {
                "name": "联盟广告",
                "type": "bar",
                "stack": "广告",
                "data": [
                  220,
                  182,
                  191,
                  234,
                  290,
                  330,
                  310
                ]
              },
              {
                "name": "视频广告",
                "type": "bar",
                "stack": "广告",
                "data": [
                  150,
                  232,
                  201,
                  154,
                  190,
                  330,
                  410
                ]
              },
              {
                "name": "搜索引擎",
                "type": "bar",
                "data": [
                  862,
                  1018,
                  964,
                  1026,
                  1679,
                  1600,
                  1570
                ],
                "markLine": {
                  "lineStyle": {
                    "normal": {
                      "type": "dashed"
                    }
                  },
                  "data": [
                    [
                      {
                        "type": "min"
                      },
                      {
                        "type": "max"
                      }
                    ]
                  ]
                }
              },
              {
                "name": "百度",
                "type": "bar",
                "barWidth": 5,
                "stack": "搜索引擎",
                "data": [
                  620,
                  732,
                  701,
                  734,
                  1090,
                  1130,
                  1120
                ]
              },
              {
                "name": "谷歌",
                "type": "bar",
                "stack": "搜索引擎",
                "data": [
                  120,
                  132,
                  101,
                  134,
                  290,
                  230,
                  220
                ]
              },
              {
                "name": "必应",
                "type": "bar",
                "stack": "搜索引擎",
                "data": [
                  60,
                  72,
                  71,
                  74,
                  190,
                  130,
                  110
                ]
              },
              {
                "name": "其他",
                "type": "bar",
                "stack": "搜索引擎",
                "data": [
                  62,
                  82,
                  91,
                  84,
                  109,
                  110,
                  120
                ]
              }
            ]
          }
        }
      </script>
    </mip-viz-echarts>

    <h2>3、固定高度大小的饼图，使用远程数据，并使用指定的图片进行 placeHolder 占位</h2>
    <mip-viz-echarts id="charts-3" use-data-width height="500" layout="fixed-height" src="./pie-data.json">
      <mip-img placeholder height="500" layout="fixed-height" src="https://placehold.it/400x200?text=echarts">
      </mip-img>
    </mip-viz-echarts>

    <h2>4、可以指定长宽比的响应式图表，从远程获取数据</h2>
    <mip-viz-echarts id="charts-4" width="2" height="1.5" layout="responsive" src="./chart-data.json">
    </mip-viz-echarts>

    <h2>5、在 lightbox 中响应式展示图表</h2>
    <button on="tap:mip-lightbox.toggle">显示图表</button>
    <mip-lightbox id="mip-lightbox" layout="nodisplay">
      <mip-viz-echarts id="charts-5" width="400" height="400" layout="responsive" src="./chart-data.json">
      </mip-viz-echarts>
    </mip-lightbox>

    <script src="https://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.js"></script>
    <script src="/mip-viz-echarts/mip-viz-echarts.js"></script>
    <script src="https://c.mipcdn.com/static/v2/mip-lightbox/mip-lightbox.js"></script>
  </body>
</html>
