<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP appdl</title>
    <link rel="canonical" href="">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body>
    <div>
      <mip-appdl
        tpl="imageText"
        src="http://ms0.meituan.net/touch/css/i/logo.png"
        texttip= "['积分能当钱花了（有图版）','下载百度浏览器','下载百度浏览器']"
        downbtntext="立即使用"
        other-downsrc="http://sqdd.myapp.com/myapp/qqteam/AndroidQQ/mobileqq_android.apk"
        android-downsrc="http://sqdd.myapp.com/myapp/qqteam/AndroidQQ/mobileqq_android.apk"
        ios-downsrc="itms-apps://itunes.apple.com/app/id452186370" postiontye="fixed">
      </mip-appdl>
      <mip-appdl
        tpl="imageText"
        texttip= "['积分能当钱花了（无图版）','下载百度浏览器','下载百度浏览器']"
        downbtntext="立即使用"
        other-downsrc="http://sqdd.myapp.com/myapp/qqteam/AndroidQQ/mobileqq_android.apk"
        android-downsrc="http://sqdd.myapp.com/myapp/qqteam/AndroidQQ/mobileqq_android.apk"
        ios-downsrc="itms-apps://itunes.apple.com/app/id452186370" postiontye="fixed">
      </mip-appdl>
      <mip-appdl
        tpl="imageText"
        texttip= "积分能当钱花了（无图版）"
        downbtntext="立即使用"
        other-downsrc="http://sqdd.myapp.com/myapp/qqteam/AndroidQQ/mobileqq_android.apk"
        android-downsrc="http://sqdd.myapp.com/myapp/qqteam/AndroidQQ/mobileqq_android.apk"
        ios-downsrc="itms-apps://itunes.apple.com/app/id452186370" postiontye="fixed">
      </mip-appdl>
      <mip-fixed type="bottom"><mip-appdl
        tpl="imageText"
        src="http://ms0.meituan.net/touch/css/i/logo.png"
        texttip= "['积分能当钱花了（悬浮版）','下载百度浏览器','下载百度浏览器']"
        downbtntext="立即使用"
        other-downsrc="http://sqdd.myapp.com/myapp/qqteam/AndroidQQ/mobileqq_android.apk"
        android-downsrc="http://sqdd.myapp.com/myapp/qqteam/AndroidQQ/mobileqq_android.apk"
        ios-downsrc="itms-apps://itunes.apple.com/app/id452186370" postiontye="fixed"
      ></mip-appdl></mip-fixed>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-appdl/mip-appdl.js"></script>
  </body>
</html>
