<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP Page</title>
    <link rel="canonical" href="">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body>
    <div>
      <mip-appdl
        src="http://boscdn.baidu.com/v1/assets/mipengine/app_logo.png"
        texttip= "['搜索+资讯（有图版）','下载百度App','下载百度App']"
        downbtntext="立即使用"
        other-downsrc="https://downapp.baidu.com/baidusearch/AndroidPhone/11.3.0.13/1/757b/20190108123357/baidusearch_AndroidPhone_11-3-0-13_757b.apk"
        android-downsrc="https://downapp.baidu.com/baidusearch/AndroidPhone/11.3.0.13/1/757b/20190108123357/baidusearch_AndroidPhone_11-3-0-13_757b.apk"
        ios-downsrc="itms-apps://itunes.apple.com/app/id382201985">
      </mip-appdl>
      <mip-appdl
        texttip= "['搜索+资讯（无图版）','下载百度App','下载百度App']"
        downbtntext="立即使用"
        other-downsrc="https://downapp.baidu.com/baidusearch/AndroidPhone/11.3.0.13/1/757b/20190108123357/baidusearch_AndroidPhone_11-3-0-13_757b.apk"
        android-downsrc="https://downapp.baidu.com/baidusearch/AndroidPhone/11.3.0.13/1/757b/20190108123357/baidusearch_AndroidPhone_11-3-0-13_757b.apk"
        ios-downsrc="itms-apps://itunes.apple.com/app/id382201985">
      </mip-appdl>
      <mip-fixed type="bottom">
        <mip-appdl
          src="http://boscdn.baidu.com/v1/assets/mipengine/app_logo.png"
          texttip= "['搜索+资讯（有图版）','下载百度App','下载百度App']"
          downbtntext="立即使用"
          other-downsrc="https://downapp.baidu.com/baidusearch/AndroidPhone/11.3.0.13/1/757b/20190108123357/baidusearch_AndroidPhone_11-3-0-13_757b.apk"
          android-downsrc="https://downapp.baidu.com/baidusearch/AndroidPhone/11.3.0.13/1/757b/20190108123357/baidusearch_AndroidPhone_11-3-0-13_757b.apk"
          ios-downsrc="itms-apps://itunes.apple.com/app/id382201985">
        </mip-appdl>
      </mip-fixed>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-appdl/mip-appdl.js"></script>
  </body>
</html>
