<!DOCTYPE html>
<html mip>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>MIP page</title>
  <link rel="canonical" href="对应的原页面地址">
  <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
  <style mip-custom>
    /* 自定义样式 */

  </style>
</head>

<body>
  <!-- 测试组件，模拟异步 -->
  <mip-test id="cityTest"></mip-test>
  <mip-city-selection
    class="mip-hidden"
    on="citySelected:cityTest.print"
    data-src="./data.json">
  </mip-city-selection>
  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
  <script src="/mip-city-selection/mip-city-selection.js"></script>
  <script src="./mip-test.js"></script>
</body>

</html>
