<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link rel="canonical" href="">
  <title>mip-fastclick</title>
  <link rel="stylesheet" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/mip.css">
</head>
<body>
  <mip-fastclick>
    <mip-example></mip-example>
  </mip-fastclick>

  <mip-fastclick target="example"></mip-fastclick>
  <mip-example id="example"></mip-example>

  <mip-example></mip-example>

  <p>使用手百打开查看效果，第三个没有 fastclick 效果</p>

  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/mip.js"></script>
  <script src="/mip-fastclick/mip-fastclick.js"></script>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip-fastclick/mip-example.js"></script>
</body>
</html>