<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    body {
      padding: 10px;
    }
    .mip-example-title {
      text-align: left;
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 10px;
      color: green;
    }
    .mip-form-example span {
      color: #b9b6b6;
    }
    .mip-example-submit-results p {
      font-size: 14px;
      color: black;
    }
    </style>
  </head>
  <body>
    <div class="mip-form-example">
      <p class="mip-example-title">基本使用</p>
      <mip-form method="get" url="https://www.mipengine.org?we=123">
        <input type="text" name="username" validatetarget="username" validatetype="must" placeholder="姓名">
        <div target="username">姓名不能为空</div>
        <input type="number" name="age" validatetarget="age" validatetype="must" placeholder="年龄">
        <div target="age">年龄不能为空</div>
        <input type="submit" value="提交">
      </mip-form>
    </div>

    <div class="mip-form-example">
      <p class="mip-example-title">加清空按钮</p>
      <mip-form method="get" url="https://www.mipengine.org" clear>
        <input type="text" name="username2" validatetarget="username2" validatetype="must" placeholder="姓名">
        <div target="username2">姓名不能为空</div>
        <input type="number" name="age2" validatetarget="age2" validatetype="must" placeholder="年龄">
        <div target="age2">年龄不能为空</div>
        <input type="submit" value="提交">
      </mip-form>
    </div>

    <div class="mip-form-example">
      <p class="mip-example-title">自定义验证规则</p>
      <mip-form method="get" url="https://www.mipengine.org">
        <input type="text" name="customnumber" validatetarget="custom" validatetype="custom" validatereg="^[0-9]*$" placeholder="我是自定义验证规则数字">
        <div class="mip-form-target" target="custom">请输入正确的数字</div>
        <input type="submit" value="提交">
      </mip-form>
    </div>

    <div class="mip-form-example">
      <p class="mip-example-title">页面数据刷新</p>
      <span> 提交数据后在当前页面更新结果</span>
      <mip-form method="get" url="https://www.mipengine.org?we=123" fetch-url="./mock.json">
        <input type="text" name="name" placeholder="姓名">
        <input type="submit" value="提交">
        <div class="mip-example-submit-results" submit-success>
          <template type="mip-mustache">
              <p>查询成功！用户信息如下: </p>
              <p>年龄{{age}}</p>
              <p>邮箱{{email}}</p>
              <p>电话{{telephone}}</p>
          </template>
        </div>
        <div submit-error>
          <template type="mip-mustache">
            Error!.
          </template>
        </div>
      </mip-form>
    </div>

    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="https://c.mipcdn.com/static/v1/mip-mustache/mip-mustache.js"></script>
    <script src="/mip-form/mip-form.js"></script>
  </body>
</html>
