<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    .open{width: 80px;height:30px; line-height:30px; border: 1px #000000 solid; text-align:center;}
    </style>
  </head>
  <body>
  <mip-video-demo id="video" back layout="responsive" width="640" height="360" src="https://gss0.bdstatic.com/-b1Caiqa0d9Bmcmop9aC2jh9h2w8e4_h7sED0YQ_t9iCPK/mda-gjkt21pkrsd8ae5y/mda-gjkt21pkrsd8ae5y.mp4" >
  </mip-video-demo>
  <div class="open">点击播放</div>
  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
  <script src="/mip-video-demo/mip-video-demo.js"></script>
  </body>
</html>
