<!DOCTYPE html>
<html mip>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>aio 分享测试</title>
  <link rel="canonical" href="对应的原页面地址">
  <style mip-custom>
    /* 自定义样式 */
  </style>
</head>

<body>
  <button onclick="pyqShare()">点我分享朋友圈</button>
</body>
<script src="https://s.bdstatic.com/common/openjs/aio.js?t=1547785394212" type="text/javascript"></script>
<script>
  /* eslint-disable */
  function pyqShare () {
    var cfg = {
      mediaType: 'weixin_timeline',
      linkUrl: 'http://www.baidu.com',
      title: '这里的参数可以对象可以自定义哦',
      content: 'test baidubox share这里的参数可以对象可以自定义哦',
      iconUrl: 'http://m.baidu.com/static/searchbox/po/act/avengers/wxshare.jpg'
    }

    if (Box.os.android) {
      Box.android.invokeApp(
        'Bdbox_android_utils',
        'callShare',
        [JSON.stringify(cfg), window.successFnName || 'console.log', window.errorFnName || 'console.log']
      )
    } else {
      Box.ios.invokeApp('callShare', {
        options: encodeURIComponent(JSON.stringify(cfg)),
        errorcallback: 'onFail',
        successcallback: 'onSuccess'
      })
    }
  }
</script>
</html>

