<!DOCTYPE html>
<html mip>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>MIP appdl</title>
  <link rel="canonical" href="">
  <style mip-custom>
    /* 自定义样式 */
  </style>
</head>

<body>
  <div>
    <mip-data>
      <script type="application/json">
        {
          "price": 20
        }
      </script>
    </mip-data>
    <p>
      DOM.value*m.price =
      <span m-text="price"></span>
    </p>
    <mip-form url="https://www.mipengine.org/" class="button">
      <input type='text' on="change:MIP.setData({price:DOM.value*m.price})" style="width:150px;">
    </mip-form>

    <mip-script>
      console.log('mip-script executed')

      MIP.watch('price', function () {
        console.log('price changed')
      })
    </mip-script>
  </div>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/mip.js"></script>
  <script src="https://c.mipcdn.com/static/v1/mip-form/mip-form.js"></script>
  <script src="/mip-script/mip-script.js"></script>
</body>

</html>

