<!DOCTYPE html>
<html mip>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>MIP script example</title>
  <link rel="canonical" href="">
  <link rel="stylesheet" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/mip.css">
  <style mip-custom>
    body {
      padding: 30px;
    }

    pre {
      font-size: 12px;
    }
  </style>
</head>

<body>
  <div>
    <h4>请打开开发者工具，查看控制台中以下代码的执行结果</h4>
    <br />
    <pre>
&lt;mip-script&gt;
  console.log(&#x27;mip-script executed&#x27;)
  console.log(document.cookie)
  window.location.href = &#x27;/&#x27;
  var ele = document.getElementById(&#x27;test&#x27;)
&lt;/mip-script&gt;  
&lt;mip-script src="./test-script.js"&gt;&lt;/mip-script&gt; 

// test-script.js
window.MIP.setData({
  test: 'test info by setting within this script'
})
console.log(window.MIP.getData('test'))
let div = document.createElement('div')
div.setAttribute('class', 'active')
document.body.appendChild(div)
    </pre>
    <mip-script>
      console.log('mip-script executed')
      console.log(document.cookie)
      window.location.href = '/'
      var ele = document.getElementById('test')
    </mip-script>

    <mip-script src="./test-script.js"></mip-script>
  </div>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/mip.js"></script>
  <script src="/mip-script/mip-script.js"></script>
</body>

</html>

