<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>MIP page</title>
  <link rel="canonical" href="对应的原页面地址">
  <link rel="stylesheet" href="http://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.css">
  <style mip-custom>
    /* 自定义样式 */
    body {
      padding: 0 22px;
      background-color: #fff;
    }
    h3 {
      padding: 0;
    }
    p {
      text-align: left;
      font-size: 18px;
      margin-top: 20px;
      color: green;
    }
    mip-img {
      margin: 10px auto;
    }
  </style>
</head>
<body>
<p>基本使用</p>
<mip-ad
  type="ad-qwang"
  cpro_psid="u2619809"
  cpro_pswidth="auto"
  cpro_psheight="230">
</mip-ad>

<p>组件 layout="fixed" 布局</p>
<mip-ad
  layout="fixed"
  width="414"
  height="80"
  type="ad-qwang"
  cpro_psid="u2619809"
  cpro_pswidth="auto"
  cpro_psheight="230">
</mip-ad>

<script src="http://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.js"></script>
<script src="/mip-ad/mip-ad.js"></script>
</body>
</html>
