<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>MIP page</title>
  <link rel="canonical" href="对应的原页面地址">
  <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
  <style mip-custom>
    /* 自定义样式 */
    body {
      padding: 0 22px;
      background-color: #fff;
    }
    h3 {
      padding: 0;
    }
    p {
      text-align: left;
      font-size: 18px;
      margin-top: 20px;
      color: green;
    }
    mip-img {
      margin: 10px auto;
    }
  </style>
</head>
<body>
<!--domain="dup.lovedword.com"为示例，需要填写在网盟申请的domain-->
<mip-ad
  type="baidu-wm-ext"
  domain="dup.lovedword.com"
  token="3a1ec097f7cbf63edb0e7f98eff238f950e6ca0b29e67fe1103c">
  <div id="3a1ec097f7cbf63edb0e7f98eff238f950e6ca0b29e67fe1103c"></div>
</mip-ad>

<script src="https://c.mipcdn.com/static/v2/mip.js"></script>
<script src="/mip-ad/mip-ad.js"></script>
</body>
</html>
