<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body>
    <div>
      <mip-test on="show:demo.show"></mip-test>
      <mip-toast
        id= "demo"
        info-icon-src="https://www.mipengine.org/static/img/sample_mip_logo.png"
        info-text="最多七个中文字"
        station = "top"
        auto-close = "true"
      >
      </mip-toast>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-toast/mip-toast.js"></script>
    <!-- <script src="/mip-test/mip-test.js"></script> -->
    <script src="https://caoru828.github.io/my_json/mip-test/mip-test.js"></script>
  </body>
</html>
