<!DOCTYPE html>
<html mip>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>mip-map MIP page</title>
  <link rel="canonical" href="对应的原页面地址">
  <link rel="stylesheet" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/mip.css">
  <style mip-custom>
    /* 自定义样式 */

  </style>
</head>

<body>
  <mip-map height="400">
    <script type="application/json">
      {
        "ak": "hKhuzfFBrcL6zGm4s6b371NDxaUrhFPl",
        "hide-map": false,
        "get-position": true,
        "location": {
          "province": "北京",
          "city": "北京市",
          "district": "东城区",
          "street": "故宫博物馆"
        },
        "controls": {
          "NavigationControl": {},
          "MapTypeControl": {}
        },
        "info": {
          "width": 250,
          "height": 100,
          "content": "<h4>故宫博物馆</h4><p>地址：北京市东城区景山前街4号<br/>电话：(010)65131892</p></div>"
        }
      }

    </script>
  </mip-map>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/mip.js"></script>
  <script src="/mip-map/mip-map.js"></script>
</body>

</html>
