<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link rel="canonical" href="">
  <title>mip-vd-tabs</title>
  <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
  <style mip-custom>
    body {
      padding: 20px;
    }
  </style>
</head>
<body>
  <h2>底部标签页</h2>
  <mip-vd-tabs allow-scroll type="bottom" current="3">
    <div>内容1</div>
    <div>内容2</div>
    <div>内容3</div>
    <div>内容4</div>
    <section>
      <li>第一季</li>
      <li>第二季</li>
      <li>第三季</li>
      <li>第四季更新至09</li>
    </section>
  </mip-vd-tabs>

  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
  <script src="/mip-vd-tabs/mip-vd-tabs.js"></script>
</body>
</html>