<!DOCTYPE html>
<html lang="zh-cn" mip>

<head>
  <meta charset="UTF-8">
  <title>MIP page</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

</head>

<body>
  <div>请使用代理测试</div>

  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
  <script src="https://mipcache.bdstatic.com/static/v2/mip-mustache/mip-mustache.js"></script>
  <script src="/mip-custom/mip-custom.js"></script>
</body>

</html>
