<!DOCTYPE html>
<html mip>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>MIP page</title>
  <link rel="canonical" href="对应的原页面地址">
  <link rel="stylesheet" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/mip.css">
  <style mip-custom>
    /* 自定义样式 */
  </style>
</head>

<body>
  <mip-data>
    <script type="application/json">
      {
        "payConfig":{
          "subject":"蓝犀牛订单",
          "fee": 300,
          "sessionId":"c8fbd3e0-a617-4eac-84b3-1f289c5ce857",
          "redirectUrl":"https://api.example.com/pay/verifypay",
          "endpoint":{
            "baifubao":  "https://api.example.com/pay/baifubao",
            "alipay":  "https://api.example.com/pay/alipay",
            "weixin":  "https://api.example.com/pay/weixin"
          },
          "postData":{
            "orderId": 235
          }
        }
      }
    </script>
  </mip-data>
  <div>
    <button on="tap:payDialog.toggle">确定支付</button>
    <mip-inservice-pay m-bind:pay-config="payConfig" id="payDialog"></mip-inservice-pay>
  </div>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/mip.js"></script>
  <script src="/mip-inservice-pay/mip-inservice-pay.js"></script>
</body>
</html>
