<!DOCTYPE html>
<html mip>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>安装 Service Worker</title>
  <link rel="canonical" href="对应的原页面地址">
  <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
  <style mip-custom>
    /* 自定义样式 */
  </style>
</head>

<body>
  <h3>安装 Service Worker</h3>
  <mip-install-serviceworker
    layout="nodisplay"
    class="mip-hidden"
    src="./sw.js"
    data-iframe-src="./install.html"
    data-no-service-worker-fallback-url-match=".*\.html"
    data-no-service-worker-fallback-shell-url="./shell.html"
  ></mip-install-serviceworker>
  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
  <script src="/mip-install-serviceworker/mip-install-serviceworker.js"></script>
</body>
</html>
