<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
  </head>
  <body>
    <mip-bridge-baidu site-id="10400900"></mip-bridge-baidu>
    <mip-bridge-baidu token="98fecfe81b36aa1045d94554a4ac34a5"></mip-bridge-baidu>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-bridge-baidu/mip-bridge-baidu.js"></script>
  </body>
</html>
