<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=no">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
      /* 自定义样式 */
      h2 {
        margin: 50px auto;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div>
      <h2>ffffe</h2>
      <h2>vvvvvv</h2>
      <mip-node node-type="text/css" node-dom="bbd" node-value="../bbh/xxx.css" node-oth="mip-code{font-size:12px;}"></mip-node>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="https://c.mipcdn.com/extensions/platform/v2/mip-node/mip-node/mip-node.js"></script>
  </body>
</html>
