<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    .inner-01,
    .inner-02,
    .inner-03,
    .inner-04,
    .inner-05,
    .inner-06,
    .inner-07,
    .inner-071,
    .inner-08,
    .inner-09,
    .inner-10 {
      width: 20px;
      height: 40px;
      background: red;
      margin-bottom: 5px;
    }

    @keyframes test {
      100% {
        transform: rotate(calc(var(--angle, 15deg) * -3));
      }
    }
    </style>
  </head>
  <body>
    <h2>单位转换，由于 delay 不能带单位，所以秒和毫秒之前的转换没有实际代码展现</h2>
    <div class="inner-01"></div>
    <mip-animation trigger="visibility">
      <script type="application/json">
        {
          "selector": ".inner-01",
          "keyframes": [
            {
              "transform": "translateX(50px)"
            },
            {
              "transform": "translateX(calc(100vw))"
            }
          ],
          "duration": 1000
        }
      </script>
    </mip-animation>
    <div class="inner-02"></div>
    <mip-animation trigger="visibility">
      <script type="application/json">
        {
          "selector": ".inner-02",
          "keyframes": [
            {
              "transform": "translateX(50px)"
            },
            {
              "transform": "translateX(calc(100vh))"
            }
          ],
          "duration": 1000
        }
      </script>
    </mip-animation>
    <div class="inner-03"></div>
    <mip-animation trigger="visibility">
      <script type="application/json">
        {
          "selector": ".inner-03",
          "keyframes": [
            {
              "transform": "translateX(50px)"
            },
            {
              "transform": "translateX(calc(100vmin))"
            }
          ],
          "duration": 1000
        }
      </script>
    </mip-animation>
    <div class="inner-04"></div>
    <mip-animation trigger="visibility">
      <script type="application/json">
        {
          "selector": ".inner-04",
          "keyframes": [
            {
              "transform": "translateX(50px)"
            },
            {
              "transform": "translateX(calc(100vmin))"
            }
          ],
          "duration": 1000
        }
      </script>
    </mip-animation>
    <div class="inner-05"></div>
    <mip-animation trigger="visibility">
      <script type="application/json">
        {
          "selector": ".inner-05",
          "keyframes": [
            {
              "transform": "translateX(50px)"
            },
            {
              "transform": "translateX(calc(5rem))"
            }
          ],
          "duration": 1000
        }
      </script>
    </mip-animation>
    <div class="inner-06"></div>
    <mip-animation trigger="visibility">
      <script type="application/json">
        {
          "selector": ".inner-06",
          "keyframes": [
            {
              "transform": "translateX(50px)"
            },
            {
              "transform": "translateX(calc(5em))"
            }
          ],
          "duration": 1000
        }
      </script>
    </mip-animation>
    <div class="inner-07"></div>
    <mip-animation trigger="visibility">
      <script type="application/json">
        {
          "selector": ".inner-07",
          "keyframes": [
            {
              "transform": "translateX(50px)"
            },
            {
              "transform": "translateX(calc(100%))"
            }
          ],
          "duration": 1000
        }
      </script>
    </mip-animation>

    <h2>keyframes from styleSheets</h2>
    <div class="inner-08"></div>
    <mip-animation trigger="visibility">
      <script type="application/json">
        {
          "selector": ".inner-08",
          "keyframes": "test",
          "duration": 1000
        }
      </script>
    </mip-animation>

    <h2>媒体查询</h2>
    <div class="inner-09"></div>
    <mip-animation trigger="visibility">
        <script type="application/json">
          {
            "selector": ".inner-09",
            "keyframes": [
              {
                "transform": "translateX(0px)"
              },
              {
                "transform": "translateX(300px)"
              }
            ],
            "duration": 1000,
            "switch": [
              {
                "media": "(max-width: 375px)",
                "keyframes": [
                  {
                    "transform": "translateX(0px)"
                  },
                  {
                    "transform": "translateX(200px)"
                  }
                ]
              }
            ]
          }
        </script>
      </mip-animation>

    <h2>CSS.supports</h2>
    <div class="inner-10"></div>
    <mip-animation trigger="visibility">
      <script type="application/json">
        {
          "selector": ".inner-10",
          "keyframes": [
            {
              "transform": "translateX(0px)"
            },
            {
              "transform": "translateX(300px)"
            }
          ],
          "duration": 1000,
          "switch": [
            {
              "supports": "transform: translate3d(0, 0, 0)",
              "keyframes": [
                {
                  "transform": "translateX(0px)"
                },
                {
                  "transform": "translateX(200px)"
                }
              ]
            }
          ]
        }
      </script>
    </mip-animation>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-animation/mip-animation.js"></script>
  </body>
</html>
