<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body>
    <div>
      <mip-stats-tianrun sub="cl2" z="26">
        <noscript>
          <img src="//cl2.webterren.com/11.gif?z=26&amp;_wdxid=000000000000000000000000000000000000000000&amp;_wdt=011&amp;_wdc=w_2930&amp;_wdci=7678771&amp;_wda=254&amp;_wdp=2016-10-08&amp;_wdori=%u4e2d%u56fd%u53f0%u6e7e%u7f51%u7efc%u5408&amp;_wdti=%u6e56%u5317%u8b66%u6821%u6821%u82b1%u6652%u82f1%u6b66%u5236%u670d%u7167%u0030%u7ec6%u6570%u8b66%u5bdf%u754c%u7684%u4eba%u6c14%u201c%u7f51%u7ea2%u201d&amp;_wdurl=http://m2.people.cn/mip/r/MV80Xzc2Nzg3NzFfMjkzMF8xNDc1ODgzNjcz?s=baidu-mip&amp;_wdqd=m2_baidu&amp;_wdvs=wap&amp;_wda2=254&amp;_wdot=0"
            width="0" height="0" alt="" />
        </noscript>
      </mip-stats-tianrun>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-stats-tianrun/mip-stats-tianrun.js"></script>
  </body>
</html>
