<!DOCTYPE html>
<html mip>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <!-- IT 之家ios -->
  <!--<meta name="apple-itunes-app" content="app-id=570610859, app-argument=ithome://ithome.com?newsid=169989">-->
  <!-- 喜马拉雅 ios -->
  <meta content="app-id=876336838,app-argument=iting://open?" name="apple-itunes-app">
  <title>MIP page</title>
  <link rel="canonical" href="对应的原页面地址">
  <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
  <!-- IT 之家的 Android -->
  <!--<link rel="manifest" href="https://m.ithome.com/mip/api/mip/androidmanifestjson/169989">-->
  <!-- 喜马拉雅 Android -->
  <link href="https://m.ximalaya.com/explore/subject_detail/mip/mainifest.json?scheme=iting%3A%2F%2Fopen%3F" rel="manifest">
  <style mip-custom>
    button {
      padding: 7px 10px;
      background: red;
      margin: 10px 20px;
      border-radius: 3px;
      border: 0;
      color: white;
      font-weight: 200;
    }

    .dl-info {
      margin-left: 10%;
    }

  </style>
</head>

<body>
  <mip-app-banner id="my-app-banner" layout="nodisplay">
    <button open-button>打开app</button>
    <span class="dl-info">手机打开APP 了解更多信息</span>
  </mip-app-banner>
  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
  <script src="/mip-app-banner/mip-app-banner.js"></script>
</body>

</html>
