<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body>
    <div>
      <mip-select-item popup="show">
          <div class="select">
              <div class="select-wrapper border-1px mip-select-wrapper">
                  <div class="select-item select-region mip-select-item" modal="select-fixed-region" expend="close">
                      <p>区域</p>
                  </div>
                  <div class="select-item select-type mip-select-item" modal="select-fixed-type" expend="close">
                      <p>类型</p>
                  </div>
                  <div class="select-item select-price mip-select-item" modal="select-fixed-price" expend="close">
                      <p>价格</p>
                  </div>
                  <div class="select-item select-area mip-select-item" modal="select-fixed-area" expend="close">
                      <p>面积</p>
                  </div>
              </div>
          </div>
          <div class="select-fixed-wrapper select-fixed-region select-fixed-modal">
              <div class="select-fixed-item-wrapper select-fixed-item-wrapper-region">
                  <div class="select-region-line select-region-1 select-scroll">
                      <div class="select-region-1-item select-region-1-item-active" value="0" type="tudi">全国</div>
                      <div class="select-region-1-item" value="-1" ab="zhixiashi" type="tudi">直辖市</div>
                      <div class="select-region-1-item" value="3" ab="hebei" type="tudi">河北</div>
                      <div class="select-region-1-item" value="4" ab="sx" type="tudi">山西</div>
                      <div class="select-region-1-item" value="5" ab="nm" type="tudi">内蒙古</div>
                      <div class="select-region-1-item" value="6" ab="ln" type="tudi">辽宁</div>
                  </div>
                  <div class="select-region-line select-region-2 select-scroll">
                      <div class="select-region-2-item border-right-1px" value="0" ab="zhixiashi" type="tudi">全直辖市</div>
                      <div class="select-region-2-item border-right-1px" ab="zhixiashi-bj" value="1" type="tudi">北京</div>
                      <div class="select-region-2-item border-right-1px" ab="zhixiashi-tj" value="2" type="tudi">天津</div>
                      <div class="select-region-2-item border-right-1px" ab="zhixiashi-sh" value="9" type="tudi">上海</div>
                      <div class="select-region-2-item border-right-1px" ab="zhixiashi-cq" value="22" type="tudi">重庆</div>
                  </div>
                  <div class="select-region-3 select-scroll select-region-3-active">
                      <div class="select-region-2-item" value="0" ab="hebei-ts" type="tudi">全唐山市</div>
                      <div class="select-region-2-item" value="1149" ab="hebei-ts-fengnan" type="tudi">丰南区</div>
                      <div class="select-region-2-item" value="1150" ab="hebei-ts-fengrun" type="tudi">丰润区</div>
                      <div class="select-region-2-item" value="1151" ab="hebei-ts-leting" type="tudi">乐亭县</div>
                  </div>
              </div>
          </div>
          <div class="select-fixed-wrapper select-fixed-price select-fixed-modal">
              <div class="select-fixed-item-wrapper">
                  <div class="select-scroll data-li land-sell">
                    <li><a>12312321</a></li>
                    <li><a>12312321</a></li>
                    <li><a>12312321</a></li>
                    <li><a>12312321</a></li>
                  </div>
                  <div class="select-bottom">
                      <div class="select-interval">
                          <div class="select-bottom-input">
                              <input class="input-focus" name="lp" type="text" placeholder="最低价格">
                          </div>
                          <div class="select-split">-</div>
                          <div class="select-bottom-input">
                              <input class="input-focus" name="hp" type="text" placeholder="最高价格">
                          </div>
                      </div>
                      <div class="select-determine select-determine-tudi-sure" type="tudi">确定</div>
                  </div>
              </div>
          </div>
          <div class="select-fixed-wrapper select-fixed-type select-fixed-modal">
              <div class="select-fixed-item-wrapper select-fixed-item-more">
                  <ul class=" select-scroll">
                      <div class="more-item-wrapper need">
                          <li><a>bbbbbbb</a></li>
                          <li><a>bbbbbbb</a></li>
                          <li><a>bbbbbbb</a></li>
                          <li><a>bbbbbbb</a></li>
                          <li><a>bbbbbbb</a></li>
                          <li><a>bbbbbbb</a></li>
                      </div>
                  </ul>
              </div>
          </div>
          <div class="select-fixed-wrapper select-fixed-area select-fixed-modal">
              <div class="select-fixed-item-wrapper">
                  <div class="select-scroll data-li land-area">
                      <li><a>cccccccc</a></li>
                      <li><a>cccccccc</a></li>
                      <li><a>cccccccc</a></li>
                      <li><a>cccccccc</a></li>
                      <li><a>cccccccc</a></li>
                      <li><a>cccccccc</a></li>
                  </div>
                  <div class="select-bottom">
                      <div class="select-interval">
                          <div class="select-bottom-input">
                              <input class="input-focus" name="lj" type="text" placeholder="最小面积">
                          </div>
                          <div class="select-split">-</div>
                          <div class="select-bottom-input">
                              <input class="input-focus" name="hj" type="text" placeholder="最大面积">
                          </div>
                      </div>
                      <div class="select-determine select-determine-tudiarea-sure" type="tudi">确定</div>
                  </div>
              </div>
          </div>
          <div class="select-fixed-popup mip-select-fixed-popup"></div>
      </mip-select-item>
    </div>
    <mip-rem font-size='[{"maxWidth": 375, "size": 50}, {"maxWidth": 415, "size": 55}]'></mip-rem>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="https://c.mipcdn.com/static/v2/mip-carousel-figure-2/mip-carousel-figure-2.js"></script>
    <script src="/mip-select-item/mip-select-item.js"></script>
  </body>
</html>
