<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link rel="canonical" href="">
  <title>mip-vd-baidu</title>
  <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
</head>
<body>

  <mip-vd-baidu layout="responsive" width="640" height="360" 
    title="MIP移动网页加速器"
    src="http://mip-doc.bj.bcebos.com/MIPSampleVideo.mp4"
    poster="https://mip-doc.bj.bcebos.com/mip-video-poster.jpg">
  </mip-vd-baidu>

  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
  <script src="/mip-vd-baidu/mip-vd-baidu.js"></script>
</body>
</html>