<!DOCTYPE html>
<html mip>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>MIP page</title>
  <link rel="canonical" href="对应的原页面地址">
  <link rel="stylesheet" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/mip.css">
  <style mip-custom>


  </style>
</head>

<body>
  <mip-anim width="210" height="210" src="https://www.mipengine.org/static/img/sample_gif.gif" alt="动图加载失败">
    <mip-img class="background" width="210" height="210" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1533721228388&di=35f7a8e6806b7ac231d23c7b716bea11&imgtype=0&src=http%3A%2F%2Fimg0.pconline.com.cn%2Fpconline%2F1111%2F02%2F2573355_jkl.jpg"
      alt="图片加载失败">
    </mip-img>
  </mip-anim>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/mip.js"></script>
  <script src="/mip-anim/mip-anim.js"></script>
</body>

</html>
