<!DOCTYPE html>
<html mip>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>第1章灵魂重生_神武天帝_小说网</title>
  <link rel="canonical" href="对应的原页面地址">
  <link rel="stylesheet" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/mip.css">
  <style mip-custom>
    /* 自定义样式 */

  </style>
</head>

<body>
  <header id="header">
    <div class="left">
      <a data-type="mip" data-title="" href="xiaoshuo.html">
        <i class="icon icon-left"></i>
      </a>
    </div>
    <h4 class="line-clamp1">神武天帝</h4>
    <div class="right text-right">
      <a data-type="mip" data-title="" href="#">
        <i class="icon icon-share"></i>
      </a>
    </div>
  </header>
  <div id="main">
    <mip-stats-baidu token="0a3cb7c2b2ff1ad0353da975a9e19b28"></mip-stats-baidu>
    <mip-novel-video videoid="vivo" poster="https://ecmb.bdimg.com/adtest/cc74e541725b3d1c426927fe556f834e.jpg" src="https://ecmb.bdimg.com/cae-legoup-video-target/bcb262e0-fe62-49e6-9d3f-1649cad66394.mp4"
      tsurl="https://searchvideo.bj.bcebos.com/vivo4.ts" jumpurl="https://www.vivo.com/vivo/nexs/?cid=w-1-baidu_ada-xs"></mip-novel-video>
    <mip-xiaoshuo-read class="read">
      <div content>
        <h3>第1章 灵魂重生</h3>
        <p>“贱人，你竟敢背叛我！”</p>
        <p>“宋凌云，你这个畜生，我视你如手足，当你如兄弟，是我亲手把你培育成无双战神，可你竟然与那贱人勾搭成奸，还要置我于死路，我做鬼都不会放过你。闪舞小说网www.35xs.com”</p>
        <p>陆宇猛然睁开眼睛，一下子坐起，双眼之中充满了愤怒与杀气，拳头握得死紧！</p>
        <p>“不对，这是哪里？我明明在黑狱中灰飞烟灭，怎么可能还未死？”</p>
        <p>“难道说，我重生了？”</p>
        <p>陌生的环境让陆宇迅速清醒，过往的记忆逐一呈现在脑海里。</p>
        <p>陆宇原本是神武天域的圣魂天师，开创了史无前例的武魂进化之术，将一个不起眼的辅助职业魂天师推到了巅峰极境，成为了神武天域有史以来第一个圣帝级魂天师，简称圣魂天师！</p>
        <p>那是至高荣誉，堪称魂天师领域的万古第一人。</p>
        <p>然而就在陆宇最风光，最得意，站在人生巅峰之际，一场背叛彻底将他摧毁。</p>
        <p>陆宇这一生有三大引以为傲的事情，貌美无双的娇妻，神勇无敌的兄弟，功成名就的事业，那是无数人都梦寐以求的东西，他都得到了，可他却没有猜到结局。</p>
        <p>陆宇的成长并不顺利，但是开创武魂进化之术改变了他的一生，让他娶到了神武天域十大美女之一的马灵月为妻，曾羡煞无数人。闪舞小说网www.35xs.com</p>
        <p>后来，陆宇又结识了宋凌云，两人肝胆相照，成为了好兄弟。</p>
        <p>身为魂天师，陆宇致力于研究武魂进化之术，并在娇妻与兄弟身上耗费了半生精力。</p>
        <p>原本，马灵月和宋凌云的武魂都只是地级三品以下，注定成就有限。</p>
        <p>但是陆宇却利用自己独创的武魂进化之术，让两人的武魂等级从地级三品提升到了天级八品，一跃成为了神武天域的至强者。</p>
        <p>宋凌云获得了无双战神的称号，马灵月荣获天月仙子的美誉。</p>
        <p>为了娇妻与兄弟，陆宇耗尽心血，一心想完善武魂进化之术，将两人的武魂提升到天级九品的至高领域。</p>
        <p>然而让陆宇万万没有想到的是，就在他付出沉重代价，研制成功的那一刻，马灵月与宋凌云却突然背叛的他，掠夺了他毕生的研究成果，将他关押在黑狱之内。</p>
        <p>陆宇从巅峰跌入谷底，他简直不敢相信。</p>
        <p>一个是自己最爱的妻子，一个是自己最信任的兄弟，他们竟然勾搭成奸，背叛自己。</p>
        <p>“马灵月，宋凌云，我一定会让你们后悔莫及！”</p>
        <p>陆宇咬牙切齿，五官扭曲，每每想到这，他就无法平静。</p>
        <p>当初，马灵月嫁给陆宇，曾轰动神武天域，被称之为最具传奇色彩的吊丝逆袭。www.35xs.com</p>
        <p>然而陆宇哪里知道，马灵月看中的是武魂进化之术，并不是他这个人。</p>
        <p>后来证明，马灵月眼光独到，借助武魂进化之术，一跃成为了至强者。</p>
        <p>而宋凌云本是马灵月的师兄，彼此早有私情，联手蒙骗了陆宇，和他称兄道弟。</p>
        <p>在陆宇将武魂进化之术彻底完善之际，马灵月和宋凌云突然翻脸，囚禁了陆宇。</p>
        <p>随后依照陆宇研究的成果，将自身的武魂从天级八品提升到了天级九品的至高等级。</p>
        <p>那一刻，马灵月和宋凌云才彻底放心，将囚禁在黑狱之中的陆宇连同黑狱一并摧毁。</p>
        <p>从此，陆宇灰飞烟灭，马宋二人联手称帝，横扫神武天域，这就是他们完美无缺的计策。</p>
        <p>然而人算不如天算，陆宇竟然死而重生，这是马宋二人怎么也想不到的事情。</p>
        <p>“苍天既然让我重生，我就一定会让你们后悔！”</p>
        <p>“前世，我有眼无珠，识人不清。今生，我要慧眼识金，独断乾坤。”</p>
        <p>“前世，我武魂偏弱，不善战力。今生，我要以武定天，横扫无敌。”</p>
        <p>……</p>
        <p>豪言壮语，霸气无敌。</p>
        <p>陆宇将满腹的仇恨化为动力，他要报仇雪恨。</p>
        <p>然而当他融合了这具身体的记忆后，看清楚这具身体的情况时，却又不免叹息。</p>
        <p>他灵魂重生的这个少年也叫陆宇，十六岁，乃是青山宗外门杂役，仅仅是开脉一重境界，连武魂都不曾觉醒。</p>
        <p>这一世的陆宇本是天月国西部七城之一的吴城人士，父亲陆战乃是一城之主，身份不低。</p>
        <p>陆宇是少城主，原本衣食无忧，可他儿时遭遇了一场怪病，是父亲千方百计才救活他，但却落下了病根，几乎成为了废人。</p>
        <p>三年前，陆战得知雪峰山有灵药，可以改善陆宇的体质，于是把陆宇送入青山宗，然后孤身前去寻找。</p>
        <p>结果父亲一去不返，城主之位被他人所夺，陆宇这个少城主便有名无实，在青山宗也是受尽欺辱。</p>
        <p>无法觉醒武魂，就不能成为青山宗的外门弟子。</p>
        <p>三年一到就会被扫地出门，青山宗不养废人。</p>
        <p>明日就是每月一次的武魂觉醒之日，陆宇自知觉醒无望，外加有人谣传父亲已死，这让他万念俱灰，就连曾经的恋人也离他而去。</p>
        <p>多重打击下，陆宇生无可恋，不愿再整日受人欺辱，所以选择了结束生命。</p>
        <p>回忆至此，陆宇眼中寒光凌厉。</p>
        <p>“恋人抛弃，她是嫌你没有出息，比起我的遭人背叛，那都不算个事。从今天起，谁敢看不起陆宇，他就将后悔莫及！”</p>
        <p>翻身下床，陆宇双腿微麻，感觉浑身没劲。</p>
        <p>“这身体真是……咦……有毒，看来当年的那场怪病是另有原因。”</p>
        <p>陆宇眼中寒光爆射，冷然道：“天幽散，难怪身体虚弱，修炼三年也才开脉一重境界，连武魂……不对……”</p>
        <p>陆宇一顿，突然发现在神魂穴内有一道淡淡的虚影。</p>
        <p>这不就是武魂吗，而且已经觉醒。</p>
        <p>“怎么回事？难道……我明白了……灵魂重生，武魂觉醒。”</p>
        <p>陆宇是圣魂天师，对武魂的了解前无古人，瞬间就明白了一切。</p>
        <p>“只要有武魂，我就能傲视天地！”</p>
        <p>意念一动，陆宇神魂穴内的虚影便释放出来，呈现在他的眼底。</p>
        <p>那是一株草，仅两片叶子，属于发芽期，十分虚弱，缺少养分。</p>
        <p>“又是静武魂，还黄级一品，难道这就是我无法摆脱的宿命？”</p>
        <p>陆宇冷笑，眼中透着自信，并没有丝毫气馁。</p>
        <p>前世，他是静武魂，这一次重生又是静武魂，正好重走昔年路，再造帝王魂！</p>
        <p>“重活一世，我当君临天下！”</p>
        <p>陆宇眼神坚定，他是魂天师，就算是废武魂，他也一样能搅动天地，称雄万世！</p>
      </div>
      <div class="mip-xiaoshuo-read-control" control>
        <div class="mip-xiaoshuo-read-control-page">
          <a href="#" class="mip-xiaoshuo-read-prev disabled">
            <i class="icon gap-right-small icon-left"></i>上一章</a>
          <a data-type="mip" data-title="下一章" href="read.html" class="mip-xiaoshuo-read-next">下一章
            <i class="icon gap-left-small icon-right"></i>
          </a>
        </div>
        <div class="mip-xiaoshuo-read-control-nav">
          <ul>
            <li>
              <a href="catalog.html" data-type="mip" data-title="目录">
                <i class="icon icon-menulist"></i>
                <p class="gap-top-small">目录</p>
              </a>
            </li>
            <li mode-default>
              <div>
                <i class="icon icon-day"></i>
                <p class="gap-top-small">日间模式</p>
              </div>
            </li>
            <li mode-night>
              <div>
                <i class="icon icon-night"></i>
                <p class="gap-top-small">夜间模式</p>
              </div>
            </li>
            <li>
              <div settings>
                <i class="icon icon-font"></i>
                <p class="gap-top-small">设置</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </mip-xiaoshuo-read>
  </div>
  <footer id="footer">小说网 © 2018 - 冀ICP备xxxx号</footer>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/mip.js"></script>
  <script src="https://c.mipcdn.com/extensions/platform/v1/mip-xiaoshuo-read/mip-xiaoshuo-read.js"></script>
  <script src="https://c.mipcdn.com/static/v1/mip-stats-baidu/mip-stats-baidu.js"></script>
  <script src="/mip-novel-video/mip-novel-video.js"></script>
</body>

</html>
