<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>MIP page</title>
  <link rel="canonical" href="https://mip.xxx.com/对应的原页面地址">
  <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
</head>
<body>
  <mip-analytics type="alexametrics">
    <script type="application/json">
      {
        "vars": {
          "atrk_acct": "xxxx",
          "domain": "xxx.oo"
        }
      }
    </script>
  </mip-analytics>
  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
  <script src="/mip-analytics/mip-analytics.js"></script>
</body>
</html>
