<!DOCTYPE html>
<html mip>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>MIP page</title>
  <link rel="canonical" href="对应的原页面地址">
  <link rel="stylesheet" href="http://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.css">
  <style mip-custom>
    /* 自定义样式 */
  </style>
</head>

<body>
  <div class="className1">
    <button data-click="{button: 1}"> BUTTON 1</button>
    <button data-click="{button: 2}"> BUTTON 2</button>
  </div>
  <div class="className2" data-click="{div: 'className2'}">
    <button>BUTTON 3</button>
  </div>
  <mip-analytics>
    <script type="application/json">
      {
        "hosts" : {
          "className1" : "//some-log-host.com/some-log-path/div1?",
          "disp" : "//some-log-host.com/${disp}?",
          "className2" : "//some-log-host.com/_${div2}.gif?"
        },

        "setting" : {
          "click" : [
            {
              "selector" : ".className1",
              "tag": "button",
              "host" : "className1",
              "queryString" : {
                "name" : "className1",
                "mipstart" : "${MIPStart}",
                "list": {
                  "age":"123"
                }
              }
            },

            {
              "selector" : ".className2",
              "host" : "className2",
              "queryString" : {
                "name" : "className2",
                "mipstart" : "${MIPStart}",
                "list": {
                  "age":"45"
                }
              }
            },

            {
              "selector" : ".className3",
              "host" : "className3",
              "queryString" : {},
              "vars" : {
                "div2" : "divfdsf"
              }
            }
          ],

          "disp" : [
            {
              "host" : "disp",
              "queryString" : {
                "MIPStart" : "${MIPStart}",
                "MIPPageShow" : "${MIPPageShow}",
                "MIPDomContentLoaded" : "${MIPDomContentLoaded}",
                "MIPFirstScreen" : "${MIPFirstScreen}"
              },
              "vars" : {
                "disp" : "displog"
              }
            }
          ],

          "timer" : [
            {
              "host" : "className2",
              "queryString" : {
                "timer" : "timer"
              },
              "vars" : {
                "div2" : "div2"
              },
              "option" : {
                "interval" : 2000
              }
            }
          ],

          "scroll" : []
        }
      }
    </script>
  </mip-analytics>
  <script src="http://bos.nj.bpc.baidu.com/v1/assets/mip/projects/mip.js"></script>
  <script src="/mip-analytics/mip-analytics.js"></script>
</body>

</html>
