<!DOCTYPE html>
<html mip>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>MIP page</title>
  <link rel="canonical" href="对应的原页面地址">
  <link rel="stylesheet" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/mip.css">
  <style mip-custom>
    /* 自定义样式 */

    li {
      height: 300px;
      font-size: 30px;
      text-align: center;
    }
  </style>
</head>

<body>
  <ul>
    <li>《登鹳雀楼》</li>
    <li>唐代：王之涣</li>
    <li>白日依山尽，</li>
    <li>黄河入海流。</li>
    <li>欲穷千里目，</li>
    <li>更上一层楼。</li>
  </ul>
  <mip-fixed type="gototop">
    <mip-gototop threshold="200"></mip-gototop>
  </mip-fixed>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/mip.js"></script>
  <script src="/mip-gototop/mip-gototop.js"></script>
  <script src="https://c.mipcdn.com/static/v1/mip-fixed/mip-fixed.js"></script>
</body>

</html>