<!DOCTYPE html>
<html mip>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>gototop - MIP page</title>
  <link rel="canonical" href="对应的原页面地址">
  <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
  <style mip-custom>
    /* 自定义样式 */
    li {
      height: 300px;
      font-size: 20px;
      text-align: center;
      list-style: none;
    }
  </style>
</head>

<body>
  <ul>
    <li>《青玉案·元夕》</li>
    <li>东风夜放花千树。</li>
    <li>更吹落、星如雨。</li>
    <li>宝马雕车香满路。</li>
    <li>凤箫声动，玉壶光转，一夜鱼龙舞。</li>
    <li>蛾儿雪柳黄金缕。</li>
    <li>笑语盈盈暗香去。</li>
    <li>众里寻他千百度。</li>
    <li>蓦然回首，那人却在，灯火阑珊处。</li>
  </ul>

  <mip-fixed type="gototop">
    <mip-gototop threshold=100></mip-gototop>
  </mip-fixed>

  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
  <script src="/mip-gototop/mip-gototop.js"></script>
</body>

</html>
